.poem-box {
  font-size: 0.9em;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
  overflow: auto;

  @media (min-width: $phone) {
    font-size: 1.1em;
  }

  a,
  a:visited {
    color: $white;
  }

  .poem-list {
    list-style: none;
    padding: 0;
    width: 80%;

    @media (min-width: $phone) {
      width: 60%;
    }

    li,
    .poem-item {
      width: 100%;
      margin-top: 14px;
    }

    i {
      text-decoration: none;
      color: $white;
      margin-left: 24px;
      cursor: pointer;
    }

    .right-box {
      float: right;
    }
  }
}

.title {
  font-family: $serif-stack;
  text-align: center;
  font-size: 2.4em;
}
