body {
  font-family: "Open Sans", sans-serif;
  color: $white;
  margin: 0;
  padding: 0;
  height: 100vh;
}

.body,
.foot,
.btn {
  transition: background-color 500ms linear;
}

.root {
  height: 100vh;
  width: 100%;
  margin: 0;
}

.poem-box {
  display: flex;
  flex-direction: column;
  align-items: center;

  a,
  a:visited {
    color: $white;
  }

  .poem-list {
    list-style: none;
    padding: 0;
    // width: 60%;

    li,
    .poem-item {
      width: 100%;
      margin-top: 14px;
    }

    i {
      text-decoration: none;
      color: $white;
      margin-left: 32px;
      cursor: pointer;
    }

    .right-box {
      float: right;
    }
  }
}

.title {
  font-family: $serif-stack;
  text-align: center;
  font-size: 2.4em;
}

.container {
  margin-top: 40px;
  // background-color: white;
  padding: 15px;
  border-radius: 5px;
  // box-shadow: 3px 3px 4px 1px #000000;
  // margin: 28px auto;
  // max-width: 760px;
}

.foot {
  // position: fixed;
  // left: 0;
  // bottom: 0;
  width: 100%;
  background-color: $limed-spruce;
}

.foot p {
  padding-right: 40px;
}
