.composer {
  display: flex;
  // width: 100%;
  flex-direction: column;
  height: 100vh;

  @media screen and (min-width: $tablet) {
    // justify-content: space-between;
    // align-items: stretch;
    // width: 80%;
    // max-width: 960px;
    // flex-direction: row;
  }

  .main {
    flex: 1;
    overflow: auto;
  }

  .title-form {
    input {
      padding-top: 40%;

      @media screen and (min-width: $phone) {
        padding-top: 0;
        flex-direction: row;
      }
    }
  }

  .entry-title,
  textarea,
  input {
    background-color: $outer-space;
    color: $white;
    border: none;
  }

  input:focus {
    outline-offset: 0;
    outline: none;
  }

  .entry-title {
    font-family: $serif-stack;
    font-size: 2em;
    text-align: center;
    max-width: 640px;
  }

  textarea {
    flex: 9;
    border: 0;
    font-size: 0.75em;

    @media screen and (min-width: $phone) {
      flex: none;
      width: 50ch;
      font-size: 1em;
    }

    font-family: $mono-stack;
    resize: none;
    outline: none;
    border-right: 1px solid $bondi-blue;
    line-height: 1.5rem;
    padding-left: 8px;
  }

  .button-holder {
    margin-left: 16px;
    @media screen and (min-width: $tablet) {
      margin-left: 48px;
    }
  }

  h2,
  form {
    @media screen and (min-width: $tablet) {
      padding: 0 40px;
    }
  }

  .form-holder {
    flex: 1;
  }

  form {
    height: 100%;
    display: flex;
    flex-direction: column;

    @media screen and (min-width: $phone) {
      flex-direction: row;
    }
  }

  a,
  a:visited {
    color: $white;
  }
}
