.center-text {
  text-align: center;
}

.flex {
  display: flex;

  &.vertical {
    flex-direction: column;

    &.full {
      height: 100vh;
    }
  }

  &.center {
    align-items: center;
  }

  &.stretch {
    align-items: stretch;
  }
}

.flex-child {
  flex: 1;

  @media screen and (min-width: $phone) {
    margin: auto 24px;
  }
}

.foot {
  padding-left: 24px;
  a,
  p {
    color: $white;
    text-decoration: none;
  }
}
