.center-text {
  text-align: center;
}

.flex {
  display: flex;

  &.vertical {
    flex-direction: column;

    &.full {
      height: 90vh;
    }
  }

  &.center {
    align-items: center;
  }

  &.stretch {
    align-items: stretch;
  }
}

.flex-child {
  flex: 1;

  @media screen and (min-width: $phone) {
    margin: auto 24px;
  }
}

.foot {
  font-family: $mono-stack;
  padding-left: 16px;
  margin-top: auto;
  a,
  p {
    color: $white;
    text-decoration: none;
  }

  .username {
    font-weight: bold;
  }
}

.push {
  margin-left: auto;
}
