// FONT

$serif-stack: "Gabriela", serif;
$mono-stack: "B612 Mono", monospace;
$sans-stack: "Open Sans", sans-serif;

// COLOR

$bg-color: rgb(36, 36, 36);
$bg-light: #cccccc;
$bg-dark: #003366;
$white: #ffffff;
$greenish: #cccc99;
$outer-space: #303841;
$limed-spruce: #3a4750;
$bondi-blue: #00adb5;
$gallery: #eeeeee;

$darkBlue: #4dd7e6;
$lightBlue: rgb(136, 243, 255);

$deepBlue: #4d94e6;
$deepBlueLight: #6d99cc;

// BREAKPOINTS

$phone: 480px;
$tablet: 768px;
