@import "variables";
@import "general";
@import "buttons";
@import "Compose";
@import "App";

body {
  margin: 0;
  font-family: $sans-stack;
  background-color: $outer-space;
}

code {
  font-family: $mono-stack;
}
